.react-tabs__tab-list {
    display: flex;
    align-items: center;
    padding: 0.3em 0;
    margin: 0 0 0.5em;
    border: none;
}

.react-tabs__tab,
.react-tabs__tab:focus {
    position: relative;
    display: inline-block;
    padding: 0.4em 0.5em;
    font-size: 1em;
    font-weight: 500;
    color: var(--color-text);
    background: var(--color-background);
    border: none;
    border-radius: calc(var(--border-radius) / 2);
    box-shadow: var(--box-shadow);
    scale: 0.9;
    transition: 0.3s ease;
}

.react-tabs__tab:not(:first-child),
.react-tabs__tab:not(:first-child):focus {
    margin-left: calc(var(--border-width) * 9);
}

.react-tabs__tab:hover {
    padding: 0.4em 0.75em;
}

.react-tabs__tab--selected:hover {
    padding: 0.4em 0.5em;
}

.react-tabs__tab:hover,
.react-tabs__tab--selected,
.react-tabs__tab--selected:hover,
.react-tabs__tab--selected:focus {
    background: var(--color-accent);
    color: var(--color-background);
}

.react-tabs__tab--selected,
.react-tabs__tab--selected:focus {
    scale: 1;
}

.react-tabs__tab--selected,
.react-tabs__tab--selected:focus {
}

.react-tabs__tab:active {
    scale: 0.8;
}

.react-tabs__tab:after,
.react-tabs__tab:focus:after,
.react-tabs__tab--selected:focus:after {
    position: absolute;
    content: '';
    background: transparent;
    border: none;
    border-radius: 1em;
    width: 0;
    height: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.react-tabs__tab:not(:last-child):after,
.react-tabs__tab:not(:last-child):focus:after,
.react-tabs__tab--selected:not(:last-child):focus:after {
    background: var(--color-border);
    border-radius: 1em;
    width: var(--border-width);
    height: 75%;
    left: calc(100% + var(--border-width) * 4);
    top: 50%;
    transform: translateY(-50%);
}
