.md-editor {
    max-height: 100vh;
    overflow-y: auto;
}

.md-editor .md-editor-toolbar-mode {
    display: none !important;
}

.md-editor .cm-line::selection,
.md-editor .cm-line *::selection {
    color: var(--color-primary);
    background: var(--color-background-secondary) !important;
}

.md-editor .cm-editor,
.md-editor .cm-content,
.md-editor .cm-gutter,
.md-editor .md-editor-toolbar-warp {
    background-color: var(--color-background-primary);
}

.md-editor .cm-editor {
    padding-right: 0.75em;
}

.wmde-markdown pre .copied {
    color: var(--color-text-dark) !important;
    background-color: var(--color-primary) !important;
}

.wmde-markdown pre:hover .copied:hover {
    color: var(--color-text-dark) !important;
    background-color: var(--color-primary-hover) !important;
}

.wmde-markdown hr {
    background-color: transparent !important;
    border-bottom: none;
    position: relative;
}

.wmde-markdown hr::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);
    background-color: var(--color-border);
    border-radius: 25px;
}
