:root {
    /* Color Palette - Light Mode */
    --color-background-light: #f9f9f9; /* Light background */
    --color-background-light-primary: #ffffff;
    --color-background-light-secondary: #f1ebeb;
    --color-primary-light: #007bff; /* Blue (Primary) */
    --color-primary-dark-light: #0056b3; /* Dark Blue */
    --color-secondary-light: #6c757d; /* Grey (Secondary) */
    --color-secondary-dark-light: #5a6268; /* Dark Grey */
    --color-danger-light: #e74c3c; /* Red (Danger) */
    --color-danger-dark-light: #c0392b; /* Dark Red */
    --color-accent-light: #79ec79; /* Green (Accent) */
    --color-accent-dark-light: #46b846; /* Dark Green */
    --color-text-light: #333;
    --color-border-light: #ccc;
    --color-placeholder-light: #888;

    /* Color Palette - Dark Mode */ /* will be added later */

    --box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    --box-shadow-hoverable: 0em 0.25em 0.375em rgba(0, 0, 0, 0.1), 0em 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
    --box-shadow-hover: 0em 0.5em 0.75em rgba(0, 0, 0, 0.15), 0em 0.125em 0.375em rgba(0, 0, 0, 0.1);

    --border-radius: 0.525em;
    --border-width: 0.125em;
}

/* Dark Mode */ /* will be added later */
[data-theme="dark"] {}

/* Light Mode */
[data-theme="light"] {
    --color-background: var(--color-background-light);
    --color-background-primary: var(--color-background-light-primary);
    --color-background-secondary: var(--color-background-light-secondary);
    --color-primary: var(--color-primary-light);
    --color-primary-hover: var(--color-primary-dark-light);
    --color-secondary: var(--color-secondary-light);
    --color-secondary-hover: var(--color-secondary-dark-light);
    --color-accent: var(--color-accent-light);
    --color-accent-hover: var(--color-accent-dark-light);
    --color-danger: var(--color-danger-light);
    --color-danger-hover: var(--color-danger-dark-light);
    --color-text: var(--color-text-light);
    --color-border: var(--color-border-light);
    --color-placeholder: var(--color-placeholder-light);
}

/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

*::selection{
    background: var(--color-accent);
    color: var(--color-background);
}

html, body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.page{
    position: relative;
    max-width: 1100px;
    margin: 6em auto 1em;
}

.wrapper{
    margin: 1em;
}

.container {
    max-width: 1100px;
    padding: 0.75rem 1.5rem;
    margin: 0 auto;
}
