.md-editor {
    font-size: 0.9em !important;
    height: 100%;
    overflow-y: auto;
}

.md-editor * {
    font-family: 'Roboto', sans-serif !important;
}

.md-editor .md-editor-toolbar-mode {
    display: none !important;
}

.md-editor .cm-line::selection,
.md-editor .cm-line *::selection {
    color: var(--color-primary);
    background: var(--color-background-secondary) !important;
}

.md-editor .cm-editor,
.md-editor .cm-content,
.md-editor .cm-gutter,
.md-editor .md-editor-content-editor,
.md-editor .md-editor-inner,
.md-editor .md-editor-toolbar-warp {
    height: 100%;
    background-color: var(--color-background-primary);
}

.md-editor .cm-content,
.wmde-markdown {
    height: 100%;
    min-height: 200px;
}

.md-editor .cm-content .cm-placeholder {
    color: var(--color-placeholder);
    font-style: italic;
}

.md-editor .cm-editor {
    padding-right: 0.75em;
}

/* Autocomplete popup panel */
.md-editor .cm-tooltip-autocomplete {
    background-color: var(--color-background-primary);
    border: 2px solid var(--color-border-secondary);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    color: var(--color-text);
    overflow: hidden;
}

/* Default items in autocomplete */
.md-editor .cm-tooltip-autocomplete li {
    font-size: 1em;
    margin: 5px;
    border-radius: 5px;
    padding: 3px 5px !important;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    transition: 0.3s;
}

.md-editor .cm-tooltip-autocomplete li:hover {
    background: var(--color-background-secondary) !important;
}

/* Highlighted (selected) item in autocomplete */
.md-editor .cm-tooltip-autocomplete li[aria-selected="true"] {
    background-color: var(--background-tertiary) !important;
    padding: 5px !important;
}

.md-editor .cm-tooltip-autocomplete .cm-completionLabel {
    font-size: 1em;
    padding: 6px 10px;
    cursor: pointer;
    color: var(--color-text);
}

.md-editor .cm-tooltip-autocomplete .cm-completionDetail {
    font-size: 0.9em;
    color: var(--color-primary);
}

/* Preview styles */
.wmde-markdown {
    padding: 1em 2em 3em;
    font-size: 1em !important;
    background-color: transparent !important;
}

.wmde-markdown * {
    font-family: 'Roboto', sans-serif !important;
}

.wmde-markdown [dir="rtl"] ul,
.wmde-markdown [dir="rtl"] ol {
    padding-right: 1.5rem;
    padding-left: 0;
    list-style-position: inside;
}

.wmde-markdown [dir="rtl"] ul ul,
.wmde-markdown [dir="rtl"] ol ol {
    padding-right: 1.5rem;
}

.wmde-markdown pre .copied {
    color: var(--color-text-dark) !important;
    background-color: var(--color-primary) !important;
}

.wmde-markdown pre:hover .copied:hover {
    color: var(--color-text-dark) !important;
    background-color: var(--color-primary-hover) !important;
}

.wmde-markdown hr {
    background-color: transparent !important;
    border-bottom: none;
    position: relative;
}

.wmde-markdown hr::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    background-color: var(--color-border);
    border-radius: 25px;
}

.wmde-markdown pre *, code * {
    font-family: "Quicksand", sans-serif !important;
    font-weight: bold !important;
}
